name: Generate and Encode Keystore

on:
  workflow_dispatch: # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Keystore File
        run: |
          keytool -genkeypair -v \
            -keystore release.keystore \
            -alias my-key-alias \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -storepass android \
            -keypass android \
            -dname "CN=Android Debug, O=Android, C=US"

      - name: Encode Keystore to Base64 Text File
        run: base64 release.keystore > keystore_b64.txt

      - name: Upload Base64 Text as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: keystore-b64-text-artifact
          path: keystore_b64.txt
